<html>
  <head>
    <title>Photogram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <% if current_user.present? %>
  <body>
  <ul>
      <li>
        <a href="/users">
          All users
        </a>
      </li>

      <li>
        <a href="/photos">
          All public photos
        </a>
      </li>

        <li>
          <a href="/users/edit">
            <%= current_user.username %>
          </a>
        </li>

        <li>
          <a href="/users/sign_out">
            Sign Out
          </a>
        </li>
    </ul>

  <a> Signed in successfully </a>
 
  </body>

  <% else %>

  <body>
    <ul>
      <li>
        <a href="/users">
          All users
        </a>
      </li>

      <li>
        <a href="/photos">
          All public photos
        </a>
      </li>

        <li>
          <a href="/users/sign_in">
            Sign in
          </a>
        </li>

        <li>
          <a href="/users/sign_up">
            Sign up
          </a>
        </li>
    </ul>

      <div>
        Signed out successfully.
      </div>
  </body>

  <% end %>


  <h1>List of users</h1>

  <table border="1">
    <tr>
      <th>
        Username
      </th>

      <th>
        Private?
      </th>

      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td>
        <% if user.private %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        
        <td>
        <% if current_user.present? %>
        
        <% follow_request = FollowRequest.find_by(sender_id: current_user.id, recipient_id: user.id) %>

        <% if follow_request&.status == "accepted" %>
          <a href="/follows/unfollow">Unfollow</a>
        <% elsif follow_request&.status == "pending" %>
          <a>Request Sent.</a>
          <a href="/follows/cancel">Cancel</a>
        <% elsif follow_request&.status == "rejected" %>
          <a> </a>
        <% else %>
          <%= button_to "Follow", "/follows/send_request", method: :post %>
        <% end %>

        <% end %>       
        </td>
        
        <td><a href="/users/<%= user.username %>">
            Show details
          </a></td>
      </tr>
    <% end %>

  </table>
  
</html>
